.homeDiv {
    background-color: #711A1A;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
};

.logoSignin {
  min-width: 100vw;
  margin-bottom: 300px;
}

.signinComp {
  width: 100vw;
  margin-top: 100px;
  text-align: center;
  display: flex;
  justify-content: center;
};

.signupComp {
  width: 100vw;
  margin-top: 100px;
  text-align: center;
  display: flex;
  justify-content: center;
};

.btn-validate {
  background-color: #711A1A
}

.blueBtnLink {
  color : #E2DAD4;
}

.blueBtnLink:hover {
  color : #F7F3EF;
  text-decoration: none;
}

.lightBtnLink {
  color : #22323F;
}
.lightBtnLink:hover {
  color : #4A6F8D;
  text-decoration: none;
}

input::-webkit-input-placeholder {
color: black !important;
}

textarea::-webkit-input-placeholder {
color: black !important;
}

input:-moz-placeholder { /* Firefox 18- */
color: black !important;
}

input::-moz-placeholder {  /* Firefox 19+ */
color: black !important;
}

input:-ms-input-placeholder {
color: black !important;
}
